{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
    {% for post in page_obj %}
    <u1>
        <li>
            Автор: {{ post.author.get_full_name }}
        </li>
        <li>
            Дата публикаций: {{ post.pub_date|date:"d E Y" }}
        </li>
    </u1>
    <p>{{ post.text }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% include 'includes/paginator.html' %}

{% endblock %}