<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}Об авторе проекта{% endblock %}
{% block content %}
<h2>Привет, я автор</h2>
<p>
  Меня зовут Олег.<br>
  Мне 19 и я учусь на python-разработчика.<br>
  Вот ссылка на мой аккаунт в GitHub, где ты можешь увидеть все мои проекты: https://github.com/Olezzzzhka<br>
  Меня вдохновил пройти курсы практикума мой старщий брат. Он уже заканчивает курсы аналитика и уже раюотает в компании Ozon.(Когда я это писал, было 11.08.21)
</p>
{% endblock %}