{% extends "base.html" %} 
    {% block header %}
        Записи сообщества {{ group.title }}
    {% endblock %}
    {% block content %}  
        <h1>{{ group.title }}</h1> 
        <p> 
            {{ group.description|safe|linebreaksbr }} 
        </p> 
        {% for post in page_obj %} 
            <li> 
                Автор: {{ post.author.get_full_name }} 
            </li>
            <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li> 
            <p>{{ post.text|safe|linebreaksbr }}</p> 
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %} 
        {% include 'includes/paginator.html' %}
    {% endblock %} 
